In [1]:
import pandas as pd
import datetime as datetime
import matplotlib.pyplot as plt
import time
import numpy as np

start_time= time.time()

dateTimeObj= time.time()
price_history= pd.read_excel(r'D:\TodaysPrice\Historic_database.xlsx', parse_dates= True)
price_history['Date']=pd.to_datetime(price_history.Date)
price_history= price_history.sort_values(by= ['Date'], ascending= True)
price_history

,S.N.,Date,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Volume,Amount,Previous Closing,...,Ticker,Sector,Type,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1,2021-01-03,10% Nepal SBI Bank Debenture 2086,2,1050.00,1045.0,1045.00,845.0,885525.0,1065.0,...,SBIBD86,Debenture,Debenture,NaN,NaN,NaN,10 % NMB DEBENTURE 2085,NMBD2085,Debenture,Debenture
135,136,2021-01-03,NLG Insurance Company Ltd.,95,755.00,739.0,750.00,13656.0,10202307.0,743.0,...,NLG,Non Life Insurance,Ordinary,NaN,NaN,NaN,Laxmi Unnati Kosh,LUK,Mutual Fund,Ordinary
136,137,2021-01-03,NMB Microfinance Bittiya Sanstha Ltd.,130,1000.00,981.0,990.00,7955.0,7914051.0,981.0,...,NMBMF,Microfinance,Ordinary,NaN,NaN,NaN,Liberty Energy Company Limited,LEC,Hydro Power,Ordinary
137,138,2021-01-03,NMB 50,34,10.34,10.2,10.24,452800.0,4647155.0,10.3,...,NMB50,Mutual Fund,Ordinary,NaN,NaN,NaN,Life Insurance Co. Nepal,LICN,Life Insurance,Ordinary
138,139,2021-01-03,NMB Bank Limited,1140,412.00,392.0,407.00,330742.0,132276230.0,388.0,...,NMB,Commercial Banks,Ordinary,NaN,NaN,NaN,Lumbini Bikas Bank Ltd.,LBBL,Development Banks,Ordinary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31985,79,2021-08-10,Jeevan Bikas laghubitta bittya sanstha ltd,25,2004.60,1858.8,2004.60,250.0,497575.0,1822.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31986,80,2021-08-10,Joshi Hydropower Development Company Ltd,647,446.00,413.0,421.90,74509.0,31462275.5,438.0,...,JOSHI,Hydro Power,Ordinary,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31987,81,2021-08-10,Jyoti Bikas Bank Limited,5275,552.20,507.0,552.20,909450.0,488438417.1,502.0,...,JBBL,Development Banks,Ordinary,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32017,111,2021-08-10,Muktinath Bikas Bank Ltd.,2378,749.00,697.0,735.00,372361.0,270417862.6,694.0,...,MNBBL,Development Banks,Ordinary,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32130,224,2021-08-10,Womi Microfinance Bittiya Sanstha Ltd.,156,1795.00,1705.2,1768.20,7752.0,13632730.0,1740.0,...,WOMI,Microfinance,Ordinary,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#RSI function

def RSI(DF,n):
    "function to calculate RSI"
    df = DF.copy()
    df['delta']=df['Closing Price'] - df['Closing Price'].shift(1)
    df['gain']=np.where(df['delta']>=0,df['delta'],0)
    df['loss']=np.where(df['delta']<0,abs(df['delta']),0)
    avg_gain = []
    avg_loss = []
    gain = df['gain'].tolist()
    loss = df['loss'].tolist()
    for i in range(len(df)):
        if i < n:
            avg_gain.append(np.NaN)
            avg_loss.append(np.NaN)
        elif i == n:
            avg_gain.append(df['gain'].rolling(n).mean().tolist()[n])
            avg_loss.append(df['loss'].rolling(n).mean().tolist()[n])
        elif i > n:
            avg_gain.append(((n-1)*avg_gain[i-1] + gain[i])/n)
            avg_loss.append(((n-1)*avg_loss[i-1] + loss[i])/n)
    df['avg_gain']=np.array(avg_gain)
    df['avg_loss']=np.array(avg_loss)
    df['RS'] = df['avg_gain']/df['avg_loss']
    df['RSI'] = 100 - (100/(1+df['RS']))
    return df

In [3]:
#Getting a company dataframe
df= price_history[['Date', 'Closing Price', 'Ticker']]

def company(df, c_name):
    new= (df['Ticker']==c_name)
    new= df[new]
    return new
x= input('Enter a company. ')

comp= company(df, x)

Enter a company. GBBL

In [4]:
comp

            Date  Closing Price Ticker
49    2021-01-03          309.0   GBBL
253   2021-01-04          312.0   GBBL
457   2021-01-05          312.0   GBBL
664   2021-01-06          314.0   GBBL
868   2021-01-07          316.0   GBBL
...          ...            ...    ...
31061 2021-08-04          568.1   GBBL
31287 2021-08-05          583.9   GBBL
31512 2021-08-08          588.0   GBBL
31734 2021-08-09          584.1   GBBL
31959 2021-08-10          624.0   GBBL

[150 rows x 3 columns]

In [60]:
rsi_df= RSI(comp, 14)
rsi_df= rsi_df.dropna()
rsi_df

,Date,Closing Price,Ticker,delta,gain,loss,avg_gain,avg_loss,RS,RSI
2944,2021-01-24,368.0,GBBL,9.0,9.0,0.0,4.571429,0.357143,12.800000,92.753623
3152,2021-01-25,323.0,GBBL,-45.0,0.0,45.0,4.244898,3.545918,1.197122,54.485920
3358,2021-01-26,313.0,GBBL,-10.0,0.0,10.0,3.941691,4.006924,0.983720,49.589657
3568,2021-01-27,309.0,GBBL,-4.0,0.0,4.0,3.660142,4.006430,0.913567,47.741572
3777,2021-01-28,305.0,GBBL,-4.0,0.0,4.0,3.398703,4.005970,0.848409,45.899431
...,...,...,...,...,...,...,...,...,...,...
31061,2021-08-04,568.1,GBBL,9.1,9.1,0.0,5.292793,3.490575,1.516310,60.259262
31287,2021-08-05,583.9,GBBL,15.8,15.8,0.0,6.043308,3.241249,1.864500,65.089893
31512,2021-08-08,588.0,GBBL,4.1,4.1,0.0,5.904500,3.009731,1.961803,66.236786
31734,2021-08-09,584.1,GBBL,-3.9,0.0,3.9,5.482750,3.073322,1.783982,64.080227
31959,2021-08-10,624.0,GBBL,39.9,39.9,0.0,7.941125,2.853799,2.782651,73.563513

In [67]:
rsi_df.loc[rsi_df['RSI']>50, 'Buy']='Yes'
rsi_df.loc[rsi_df['RSI']<=50,'Buy']='No'
rsi_df

,Date,Closing Price,Ticker,delta,gain,loss,avg_gain,avg_loss,RS,RSI,Buy,Holding_days,Units,Port_val
2944,2021-01-24,368.0,GBBL,9.0,9.0,0.0,4.571429,0.357143,12.800000,92.753623,Yes,0,0.000000,10000
3152,2021-01-25,323.0,GBBL,-45.0,0.0,45.0,4.244898,3.545918,1.197122,54.485920,Yes,1,30.959752,10000
3358,2021-01-26,313.0,GBBL,-10.0,0.0,10.0,3.941691,4.006924,0.983720,49.589657,No,1,0.000000,10000
3568,2021-01-27,309.0,GBBL,-4.0,0.0,4.0,3.660142,4.006430,0.913567,47.741572,No,0,0.000000,10000
3777,2021-01-28,305.0,GBBL,-4.0,0.0,4.0,3.398703,4.005970,0.848409,45.899431,No,0,0.000000,10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31061,2021-08-04,568.1,GBBL,9.1,9.1,0.0,5.292793,3.490575,1.516310,60.259262,Yes,0,0.000000,10000
31287,2021-08-05,583.9,GBBL,15.8,15.8,0.0,6.043308,3.241249,1.864500,65.089893,Yes,0,0.000000,10000
31512,2021-08-08,588.0,GBBL,4.1,4.1,0.0,5.904500,3.009731,1.961803,66.236786,Yes,0,0.000000,10000
31734,2021-08-09,584.1,GBBL,-3.9,0.0,3.9,5.482750,3.073322,1.783982,64.080227,Yes,0,0.000000,10000
31959,2021-08-10,624.0,GBBL,39.9,39.9,0.0,7.941125,2.853799,2.782651,73.563513,Yes,0,0.000000,10000

In [126]:

rsi_df['Holding_days']=0

rsi_df['Units']=0
rsi_df['Port_val']=10000
rsi_df['Profit_loss']=0
hd=0
rsi_df
for i in range(len(rsi_df)-1):
    
    if 'Yes' in rsi_df['Buy'].iloc[i]:
        rsi_df['Holding_days'].iloc[i+1]=rsi_df['Holding_days'].iloc[i]+1
        
    if rsi_df['Holding_days'].iloc[i]==1:
        rsi_df['Units'].iloc[i] = rsi_df['Port_val'].iloc[i-1]/rsi_df['Closing Price'].iloc[i]
        rsi_df['Port_val']= rsi_df['Units'].iloc[i]*rsi_df['Closing Price'].iloc[i]
    if rsi_df['Holding_days'].iloc[i]>1:
        rsi_df['Units'].iloc[i]=rsi_df['Units'].iloc[i-1] 
        rsi_df['Port_val'].iloc[i]= rsi_df['Port_val'].iloc[i-1]
        
        
    if ((rsi_df['Buy'].iloc[i]=='No') & (rsi_df['Buy'].iloc[i-1]=='Yes')):
        a= rsi_df['Holding_days'].iloc[i]
        rsi_df['Profit_loss'].iloc[i]= (rsi_df['Closing Price'].iloc[i]- rsi_df['Closing Price'].iloc[i-a])*rsi_df['Units'].iloc[i]
    rsi_df['Port_val'].iloc[i]=rsi_df['Port_val'].iloc[i-1]+  rsi_df['Profit_loss'].iloc[i]
    if 'No' in rsi_df['Buy'].iloc[i]:
        hd=0

c:\python\python387\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [127]:
rsi_df

,Date,Closing Price,Ticker,delta,gain,loss,avg_gain,avg_loss,RS,RSI,Buy,Holding_days,Units,Port_val,Profit_loss
2944,2021-01-24,368.0,GBBL,9.0,9.0,0.0,4.571429,0.357143,12.800000,92.753623,Yes,0,0.000000,11619.620854,0.000000
3152,2021-01-25,323.0,GBBL,-45.0,0.0,45.0,4.244898,3.545918,1.197122,54.485920,Yes,1,30.959752,11619.620854,0.000000
3358,2021-01-26,313.0,GBBL,-10.0,0.0,10.0,3.941691,4.006924,0.983720,49.589657,No,2,30.959752,11619.620854,-1702.786378
3568,2021-01-27,309.0,GBBL,-4.0,0.0,4.0,3.660142,4.006430,0.913567,47.741572,No,0,0.000000,11619.620854,0.000000
3777,2021-01-28,305.0,GBBL,-4.0,0.0,4.0,3.398703,4.005970,0.848409,45.899431,No,0,0.000000,11619.620854,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31061,2021-08-04,568.1,GBBL,9.1,9.1,0.0,5.292793,3.490575,1.516310,60.259262,Yes,24,22.345425,11619.620854,0.000000
31287,2021-08-05,583.9,GBBL,15.8,15.8,0.0,6.043308,3.241249,1.864500,65.089893,Yes,25,22.345425,11619.620854,0.000000
31512,2021-08-08,588.0,GBBL,4.1,4.1,0.0,5.904500,3.009731,1.961803,66.236786,Yes,26,22.345425,11619.620854,0.000000
31734,2021-08-09,584.1,GBBL,-3.9,0.0,3.9,5.482750,3.073322,1.783982,64.080227,Yes,27,22.345425,11619.620854,0.000000
31959,2021-08-10,624.0,GBBL,39.9,39.9,0.0,7.941125,2.853799,2.782651,73.563513,Yes,28,0.000000,11619.620854,0.000000

In [46]:
rsi_df.to_excel('GBBL.xlsx', sheet_name='s1')

In [ ]:
if 'No' in df['Buy'].iloc[j]:
            PnL.append(rsi_df['Closing Price'].iloc(j+1)-rsi_df['Closing Price'].iloc(i+1))
rsi_df['Signal'].iloc[i]=1

In [ ]:
 flag=1
        j= 0
    while flag!=0:
        if 'Yes' in rsi_df['Buy'].iloc[i+j]:
            j=j+1
        if 'No' in rsi_df['Buy'].iloc[i+j]:
            flag=0
            rsi_df['Signal']='Sell'